<%- include ("partials/header") %>


    <div class="jumbotron jumbotron-fluid" style="background-color: rgb(209, 250, 236);">
        <div class="container text-center">
            <h1 style="color: rgb(19, 192, 33)!important;">Welcome to This Website</h1>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron jumbotron-fluid" style="background-color: bisque!important;"><h4 class="text-center" style="color: rgb(230, 158, 64);">I give the best K-Drama recommendations just for you :D</h4><% %>
            <p class="text-center" style="color: rgb(205, 50, 151);">Let's GOOOOOOO. Click <a href="/index">here</a> to see our great recommendations.</p>
            <%  %> </div>
    </div>
    <div class="jumbotron jumbotron-fluid" style="background-color: rgb(206, 162, 223)!IMPORTANT;">
        <div class="container text-center">
            <h2 style="color: rgb(49, 93, 168)!important;">HAVE A GREAT DAY EVERYBODY!</h2>
        </div>
    </div>

    <%- include ("partials/footer") %>